[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
bcrypt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pyjwt = "*"
passlib = "*"
python-jose = "*"
fastapi-sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.10"
